@import "tailwindcss";

body {
  @apply bg-gray-900;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  @apply text-gray-300 md:text-base text-sm md:leading-normal leading-5;
}
span {
  @apply md:text-base text-sm md:leading-normal leading-5;
}
h1 {
  @apply md:text-5xl text-4xl font-semibold tracking-tight text-white;
}
h2 {
  @apply md:text-4xl text-3xl font-semibold tracking-tight text-white;
}
h3 {
  @apply md:text-3xl text-2xl font-semibold tracking-tight text-white;
}
h4 {
  @apply md:text-2xl text-xl font-semibold tracking-tight text-white;
}
h5 {
  @apply md:text-xl text-lg font-semibold tracking-tight text-white;
}
