@import "tailwindcss";

body {
  @apply bg-gray-900;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Custom Scrollar - body */
body::-webkit-scrollbar {
  @apply w-2;
}

body::-webkit-scrollbar-track {
  @apply bg-gray-800/50;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-600/40 rounded-[3px];
}

/* Paragraph and Headings */
p {
  @apply text-gray-300 md:text-base text-sm md:leading-normal leading-5;
}
h1 {
  @apply md:text-5xl text-4xl font-semibold tracking-tight text-white;
}
h2 {
  @apply md:text-4xl text-3xl font-semibold tracking-tight text-white;
}
h3 {
  @apply md:text-3xl text-2xl font-semibold tracking-tight text-white;
}
h4 {
  @apply md:text-2xl text-xl font-semibold tracking-tight text-white;
}
h5 {
  @apply md:text-xl text-lg font-semibold tracking-tight text-white;
}

/* Custom Scrollar - call */
.custom-scrollbar {
  @apply overflow-y-auto
  [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-800/50
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-600/40;
}
