@import url("https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  [type="radio"] {
    @apply appearance-none size-4 border border-gray-700/70 rounded-full bg-transparent transition duration-300 ease-in-out;
  }

  [type="radio"]:checked {
    @apply bg-indigo-500 border-gray-900 border-2 outline-2 outline-indigo-500 transition-all duration-300 ease-in-out;
  }

  [type="checkbox"] {
    @apply appearance-none size-4 border border-gray-700/70 rounded-sm bg-transparent transition duration-300 ease-in-out;
  }

  [type="checkbox"]:checked {
    @apply bg-indigo-500 border-gray-900 border-2 outline-2 outline-indigo-500 transition-all duration-300 ease-in-out;
  }
}
body {
  @apply bg-gray-900;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Custom Scrollar - body */
body::-webkit-scrollbar {
  @apply w-2;
}

body::-webkit-scrollbar-track {
  @apply bg-gray-800/50;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-600/40 rounded-[3px];
}

/* Custom Scrollbar - for component */

.custom-scollbar::-webkit-scrollbar {
  @apply w-2;
}

.custom-scollbar::-webkit-scrollbar-track {
  @apply bg-gray-800/50;
}

.custom-scollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-600/40 rounded-[3px];
}

/* Paragraph and Headings */
p {
  @apply text-gray-300 md:text-base text-sm md:leading-normal leading-5;
}
h1 {
  @apply md:text-5xl text-4xl font-semibold tracking-tight text-white;
}
h2 {
  @apply md:text-4xl text-3xl font-semibold tracking-tight text-white;
}
h3 {
  @apply md:text-3xl text-2xl font-semibold tracking-tight text-white;
}
h4 {
  @apply md:text-2xl text-xl font-semibold tracking-tight text-white;
}
h5 {
  @apply md:text-xl text-lg font-semibold tracking-tight text-white;
}

/* Custom Scrollar - call */
.custom-scrollbar {
  @apply overflow-y-auto
  [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-800/50
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-600/40;
}

/* -------- Challenge #33 -------- */
.cossette-titre-bold {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
.epunda-slab {
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* -------- // Challenge #33 -------- */
